/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: #fff;
  font-family: arial, sans-serif;
  text-align: center;
}
header{

}
.header__title{
  color: #fff;
  font-size: 2rem;
}

button {
  
  background-color: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

a {
  color: black;
  list-style: none;
  text-decoration: none;
}
a:hover{
  color: #ccc;
}

nav {
  background-color: none;
  /* border-bottom: 1px solid rgba(222,222,222,.7); */
  /* display: flex;
  justify-content: space-evenly; */
  font-size: .7rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  position: fixed;
  text-align: right;
  width: 100%;
}

.nav-item {
  margin: 0 1rem;
}

.container {
  /* border-bottom: .5px solid rgba(222,222,222,10); */
  display: flex;
  justify-content: center;
  min-height: 20vh;
  padding-top: 1rem;
}

/* GRADIENT PRACTICE :  think Pink Floyd's 'Meddle Cover'*/ 

/* .gradient__header {
  background-image: linear-gradient(-180deg, rgba(164,12,148,.4),rgba(32,22,79,.8));
 
} */
.gradient__one {
  background-image: linear-gradient(-180deg, rgba(32,22,79,.5), rgba(164,12,148,.4));
}
.gradient__two {
  background-image: linear-gradient(-180deg, rgba(164,12,148,.4),rgba(164,12,148,.2));

}
.gradient__three {
    background-image: linear-gradient(-180deg, rgba(164,12,148,.2),rgba(164,12,148,.1));
}
.gradient__four {
  background-image: linear-gradient(-180deg,rgba(164,12,148,.1),rgba(164,12,148,.1));
}
.gradient__five {
  background-image: linear-gradient(-180deg,rgba(164,12,148,.1),rgba(164,12,148,.1));
}
.gradient__six {
  background-image: linear-gradient(-180deg,rgba(164,12,148,.1),rgba(164,12,148,.1));
}.gradient__seven {
  background-image: linear-gradient(-180deg,rgba(164,12,148,.1),rgba(147,196,226,.4));
}

.container__footer {
  align-items: flex-end;
  color: rgba(147,196,226,.9);
  display: flex;
  justify-content: center;
  padding-bottom: 1rem; 
}